<h1 class="confirm-headline">Are you sure you want to delete your account</h1>
<div class="confirm-links">
	<a class="delete-confirm-btn" href="/delete">Yes</a>
	<a class="cancel-btn" href="/account">Cancel</a>
</div>