
<div class="forms">
	<h1> Log in </h1>
	<form action="/" method="post">
		<div class="labels"><label>E-mail:<label></div>
		<input type="text" name="email"><br>

		<div class="labels"><label>Password:</label></div>	
		<input type="password" name="password"><br>

		<input type="submit" value="Log In">

		<p class="bottom-text">Not registered? <a href="/signup"> Sign up now.</a></p>
	</form>
</div>

<div class="chant">
	<span id="letsGo"> lets go</span> <span id="teamName">knicks!</span>
</div>