
<div class="login">
	<h1> Log in </h1>
	<form action="/" method="post">
		<div class="login-labels"><label>E-mail:<label></div>
		<input type="text" name="email">

		<div class="login-labels"><label>Password:</label></div>	
		<input type="password" name="password">

		<input type="submit" value="Log In">

		<p class="login-bottom-text">Not registered? <a href="/signup"> Sign up now.</a></p>
	</form>
</div>

<div class="chant">
	<span id="letsGo"> Lets go</span> <span id="teamName">Knicks!</span>
</div>