
<div class="forms">
	<h1> Log in </h1>
	<form action="/" method="post">
		<label>email</label>
		<input type="text" name="email"><br>

		<label>password</label>		
		<input type="password" name="password"><br>

		<input type="submit" value="Log In">

		<p>Not registered? <a href="/signup"> Sign up now.</a></p>
	</form>
</div>

<div class="chant">
	<span id="letsGo"> lets go</span> <span id="teamName">knicks!</span>
</div>