<h1 class="forum-headline">Posts</h1>
	<div class="post-container">
		<% $posts.reverse.each do |post| %>
			<div class="posts">
		   		<h1 class="post-title"><b><%= post.title %></b></h1>
		   		<p class="post-time"><%= post.created_at %></p>
		   		<h2 class="post-author"><em>By: <%= post.author %></em></h2>
		   		<p class="post-content"><%= post.content %></p>
	   		</div>
	   	<% end %>
   </div>