
<div class= forms>
	<h1>Sign up </h1>

	<form action = "/signup" method="POST">
		<label>First Name:</label>
		<input type= "text" placeholder="first name" name="firstName"></br>
		<label>Last Name</label>
		<input type= "text" placeholder="last name" name="lastName"></br>
		<label>E-mail:</label>
		<input type= "email" placeholder="email" name="email"></br>
		<label>Birthdate:</label>
		<input type= "date" placeholder="" name="birthday"></br>
		<label>Password:</label>
		<input type= "password" placeholder="Create password" name="password"></br>
		<input type= "submit" value="Sign up">
	</form>
</div>

<div class="chant">
	<span id="letsGo"> lets go</span> <span id="teamName">knicks</span>
</div>