
<div class= signup>
	<h1>Sign up </h1>

	<form action = "/signup" method="POST">
		<div class="signup-labels"><label>First Name:</label></div>
		<input type= "text" placeholder="first name" name="firstName"></br>

		<div class="signup-labels"><label>Last Name:</label></div>
		<input type= "text" placeholder="last name" name="lastName"></br>

		<div class="signup-labels"><label>E-mail:</label></div>
		<input type= "email" placeholder="email" name="email"></br>

		<div class="signup-labels"><label>Birthdate:</label></div>
		<input type= "date" placeholder="" name="birthday"></br>

		<div class="signup-labels"><label>Password:</label></div>
		<input type= "password" placeholder="Create password" name="password"></br>

		<input type= "submit" value="Sign up">
		<p class="signup-bottom-text">Already registered? <a href="/"> Log in.</a></p>
	</form>
</div>

<div class="chant">
	<span id="letsGo"> lets go</span> <span id="teamName">knicks!</span>
</div>