body {
	margin: 0;
	padding: 0;
	background-image: url("https://i.pinimg.com/236x/de/ce/5a/dece5a71dccd94a4e8d75d31fb91de73--new-york-knicks-nba-new-york.jpg");
	font-family: 'Ubuntu', sans-serif;
}


.login {
	background-color: rgba(255, 255, 255, 0.9);
	width: 25%;
	margin: auto;
	margin-top: 8%;
	padding: 2%;
}

.login h1 {
	text-align: center;
	font-size: 40px;
}

.login input {
	width: 100%;
	padding: 1%;
	margin-bottom: 4%;
	font-size: 20px;
}

.login-labels {
	margin: auto;
	font-size: 30px;
}

.login-bottom-text {
	font-size: 25px;
	text-align: center
}

.chant {
	text-align: center;
	margin-top: 20px;
	font-size: 180px;
	color: white;
	color: orange;
	text-shadow: 2px 2px 4px blue;
}

#teamName {
	display: none;
}

.signup {
	background-color: rgba(255, 255, 255, 0.9);
	width: 25%;
	margin: auto;
	margin-top: 1%;
	padding: 1%;
}

.signup h1 {
	text-align: center;
	font-size: 35px;
}

.signup input {
	width: 100%;
	padding: 1%;
	margin-bottom: 3%;
	font-size: 18px;
}

.signup-labels {
	margin: auto;
	font-size: 25px;
}

.signup-bottom-text {
	font-size: 20px;
	text-align: center
}

